<ion-side-menus enable-menu-with-back-views="false">
   <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
         <ion-nav-back-button></ion-nav-back-button>
         <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
         </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="ac"></ion-nav-view>
   </ion-side-menu-content>
   <ion-side-menu side="left" id="ac">
      <ion-header-bar class="dark-bg bar-header disable-user-behavior expanded">
         <div class="menu-bottom">
            <p id="user-description">{{user.description}}</p><p id="user-id">{{user.id}}</p>
         </div>
      </ion-header-bar>
      <ion-content padding="false" class="side-menu-left has-expanded-header stable-bg has-header">
         <ion-list id="accessControl-list">
            <ion-item id="accessControl-entities" ui-sref="accessControl.entities" ng-if="user.type === 'admin'" menu-close="" class="ink item-icon-left">
               <i class="icon ion-android-home"></i>
               Entities
            </ion-item>
            <ion-item id="accessControl-users" ui-sref="accessControl.users" ng-if="user.type === 'admin'" menu-close="" class="ink item-icon-left">
               <i class="icon ion-android-people"></i>
               Users
            </ion-item>
            <ion-item id="accessControl-logout" ng-click="logout()" class="ink item-icon-left">
               <i class="icon ion-android-exit"></i>
               Log out
            </ion-item>
         </ion-list>
      </ion-content>
   </ion-side-menu>
</ion-side-menus>
