<ion-view title="Users" id="users">
   <ion-content padding="true" class="has-header">
      <ion-refresher pulling-text="Refresh" on-refresh="refresh()"></ion-refresher>
      <ion-list id="users-list" class="manual-list-fullwidth animate-ripple">
         <ion-item ng-repeat="user in users" class="user-item ink" ng-click="manage(user)">
            <div class="item-icon-left">
               <i ng-if="user.type == 'admin'" class="icon ion-settings"></i>
               {{user.description}} <small>{{user.id}}</small>
            </div>
            <ion-option-button ng-click="edit(user)" class="option-button button-energized icon ion-android-create"></ion-option-button>
            <ion-option-button ng-click="remove($index)" class="option-button button-assertive icon ion-android-delete"></ion-option-button>
         </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="page < limit" on-infinite="load()" distance="1%"></ion-infinite-scroll>
   </ion-content>
   <button id="fab" ui-sref="accessControl.createUser" class="button button-fab button-positive button-fab-bottom-right icon ion-plus motion"></button>
</ion-view>
